*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* background-color: #000; */
}

span {
    border: solid pink 2px;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.first {
    width: 50%;
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
}

.black-circle {
    background-color: green;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.second {
    width: 50%;
    border: solid 2px blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

