*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* background-color: #000; */
}
  
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.first {
    width: 50%;
    /* border: solid 2px red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 1rem;
}

.welcome-text {
    display: block;
    text-align: left;
    /* background-color: red; */
}

h5 {
    margin-bottom: 0.75rem;
}

.inside-first {
    /* background-color: aqua; */
    /* width: 50%;  */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* .first > div {
    background-color: aqua;
} */

/* .black-circle {
    background-color: green;
    display: flex;
} */

.logo-title {
    display: flex;
    /* background-color: antiquewhite; */
    align-items: center;
}

.black-circle {
    width: 0.5em;
    height: 0;
    padding-bottom: 0.5em;
    border-radius: 50%;
    /* border: 2px solid red; */
    background-color: #000000;
    margin-right: 0.25em;

}

form {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 50%;
}

/* input:focus {
    outline: none;
} */

input[type="email"], input[type="password"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
    border: none;
}

a {
    color: #7f56da;
    text-decoration: none;
    /* outline: none; */
}

/* .logo {
    width: 100%;
} */

.thin-grey-outline {
    outline: 1px solid #dadcdf;
}

/* input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.check {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    border: 2px solid green;
    margin-bottom: 0.5rem;
}

.red {
    background-color: red;
}

button {
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: #fff;
    margin-bottom: 0.75rem;
    border: none;
    outline: 1px solid #dadcdf;
    /* outline: 2px solid transparent; */
    /* border-color: #d9dcde; */
    
}

.white-btn {
    display: flex;
    justify-content: center;
}

.margin-right {
    margin-right: 0.5em;
}

.purple-btn {
    color: #fff;
    background-color: #7f56da;
}

.copyright {
    position: absolute;
    /* background-color: #56da73; */
    bottom: 0;
    padding-bottom: 1rem;
}


.second {
    position: relative;
    width: 50%;
    /* border: solid 2px blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f8;
}

/* .the-blur {
    position: absolute;
    z-index: 1;
    top: 50%;
    background-color: inherit;
    width: 100%;
    height: 50%;
    filter: opacity(10%);
    filter: blur(1.5rem);
} */

.the-blur {
    position: absolute;
    top: 50%;
    /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,0.05); 
    backdrop-filter: blur(20px);
}

/* .second > div {
    width: 50%;
} */

/* .first-half {
    background-color: red;
    width: 100%;
    height: 50%;
} */

/* .second-half {
    background-color: yellow;
    width: 100%;
    height: 50%;
} */

/* .circle { */
    /* position: absolute; */
    /* top: 50%; */
    /* width: 100%; */
    /* right: 0;
    bottom: 0;
    left: 0; */
    /* z-index: 1; */
    /* background-color: aquamarine; */
/* } */

.purple-circle {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    border-radius: 200%;
    /* border: 2px solid red; */
    background-color: #7f56da;
}

/* Media query for smaller screens since I'm using a desktop first approach */
/* At at a screen size of 640 px or smaller(maximum width of 640px) */
@media (max-width: 640px) {  
    .main {
        /* background-color: aqua; */
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    
    .first{
        width: 100%;
        height: 80%;
        /* background-color: red; */
    }
    
    .logo-title {
        display: hidden;
    }

    form {
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: column;
        /* background-color: green; */
        width: 90%;
    }

    .inside-first {
        margin-bottom: 0.75rem;
    }
    
    .second {
        width: 100%;
        height: 20%;
        background-color: #fff;
    }

    .purple-circle {
        width: 10%;
        padding-bottom: 10%;
        border-radius: 200%;
        /* border: 2px solid red; */
        background-color: #7f56da;
    }
    
}

